@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 227, 243);
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}

.nowrap {
  white-space: nowrap;
}

article {
  margin: 10em auto;
  padding: 1rem 1rem;
  background-color: white;
  width: min(320px, 350px);
  border-radius: 1rem;
}

figure {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

section {
  text-align: center;
  margin: 1.5rem 0.1rem 2rem;
}

section h2 {
  font-size: 1.5rem;
}

section p {
  margin: 1.4rem 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.09rem;
  font-size: 0.7rem;
}
